<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="sony">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="CB5A29JXTK" />
		<parameter name="deviceName" value="sony" />
		<parameter name="systemPort" value="10000" />
		<parameter name="chromeDriverPort" value="11000" />
		<classes>
			<class name="com.qa.runners.SonyTestNGRunnerTest"/>
		</classes>
	</test>
<!-- 	<test name="sm910">
		<parameter name="platformName" value="Android" />
		<parameter name="udid" value="4100d1bde4b1a193" />
		<parameter name="deviceName" value="sm910" />
		<parameter name="systemPort" value="10001" />
		<parameter name="chromeDriverPort" value="11001" />
		<classes>
			<class name="com.qa.runners.Sm910TestNGRunnerTest"/>
		</classes>
	</test> -->
</suite> <!-- Suite -->
